.gridCard{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 23%);
    border-radius: 10px 10px;
    gap: 20px;
    position:relative
}
.gridOnly{
    background:black;
    position:relative;
    width:60%;
    margin: auto;
}