:root {
  --primary: #e99401;
  --negro: #262626;
  --blanco: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  background: #3d3d3d;
}

h3, p, h1, h2 {
text-align: center;
}

h1 {
  font-size: 65px;
  color: white;
}
h2{
  font-size: 45px;
  color: white;
}
h3, p{
  font-size: 19px;
}


[class*="container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 87%;
}

[class*="container"] a{
  text-decoration: none;
  color: var(--negro);
}

[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}
