.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(../../public/img/rickandmorty.jpg);
    background-size: cover;
    background-position: 50% ;
}

.linksNav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navegation{
    margin-top: 3rem;
    display:flex;
    gap:2rem;
}
.navegation a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.navegation a:hover{
    background: lightpink;
    font-size:29px;
    color:#000;
}
