.cardFirst{
    display: flex;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);

}
.divImg{
    background: #e99401;
    width: 100%;
    height: 100%;
    display: flex;
}
.dImg{
    background: red;
    width: 100%!important;
    height:100%!important;
}
.divTitleBody{
width:100%;
}

.divTxt {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color:  rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.divTxt a{
    color: var(--blanco);
    text-decoration: none;
}
.divLink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 30px;
    background: gray;
    border-radius: 6px;
    width: 100%;
    padding: 10px;
}    

.divLink:hover  {
    color: #000000;
    fill:#000000;
    background-color: #ffffff;
    width: auto;
    border-radius: 7px;
    
}   
.divTxt svg{
    vertical-align: text-top;
    fill: #fff;
    font-size: 2.8rem;
    position: relative;
}
.divLink:hover svg{
    fill: #b25de5;
}
.txtGoBack{
    font-size: 2.8rem;
    font-weight: 700;
}


.txtTitle{
text-transform: uppercase;
    margin: 30px;
    letter-spacing: 1px;
    font-weight: 900;
    color:white;
}

.txtBody{
    letter-spacing: 1px;
    color:white;
    width: 100%;
}

.divDead, .divAlive {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divDead::after,.divAlive::after {
    position: absolute;
    width: 150%;
    height: 40px;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
}
.divAlive::after{
    content: 'Live';
    background: #00ff2f;
}

.divDead::after{
    content: 'Dead';
    background: #ff0000;
}

.divDead::before,.divAlive::before {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
}

.divAlive::before{
    box-shadow: 140px -140px #00ff2f;
    background-image: linear-gradient(45deg, #00ff2f 0%, #00ff2f 51%, #00ff2f 100%);
}

.divDead::before{
    box-shadow: 140px -140px #ff000e;
    background-image: linear-gradient(45deg, #ff0000 0%, #ff0000 51%, #ff0000 100%);
}