.diBttn{
    display: flex;
    margin: 15px;
    justify-content: center;
}

.bttn {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  .pPreNex, .pPrePre{
      margin: 10px;
      position: relative;
      font-size: 25px;
      color:#b25de5;
  }
  
  .bttn::after{
    content: "";
      position:absolute;
      width:0;
      left:0;
      bottom: -7px;
      background:white;
      height: 2px;

  }
  
  .pPreNex::before, .pPrePre::before{
      position:absolute;
      width:0%;
      inset:0;
      color:white;
      overflow:hidden;

  }
.pPrePre::before{
    content: "Previous";
}

.pPreNex::before{
    content: "Next";
}
  .bttn:hover::after{
    width:100%
  }
  .bttn:hover .pPreNex::before, .bttn:hover .pPrePre::before{
    width: 100%;
  }
  
  .bttn:hover svg{
    
      fill: white;
  }
  
  .bttn svg{
    /* fill:#5de581;*/
    fill:#b25de5;
      transition: 0.1s;
      position: relative;
      width: 15px;
      transition-delay: 0.1s;
  }

