.card {
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.cImg{
    height: 100%!important;
    width: 100%!important;
    border-radius: .5rem;
    transition: .5s ease;
    justify-content: center;
}


.cardFooter {
    width: 100%;
    border-top: 1px solid #ddd;
    text-align: center;
}

.cardFooter * {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    text-transform: full-width;
}

/*Text*/
.txtTitle {
    font-weight: bold;
    font-size: .6em;
}

.txtBody {
    font-size: .8em;
    padding-bottom: 10px;
}


/*Hover*/
.cImg:hover {
    transform: translateY(-7.5%);
    transition-duration: 50ms;
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}


.cardFooter:hover{
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}